<form  [formGroup]="registerNoteForm" class="formreg" (ngSubmit)="registerNote()" style=" width:80%; margin:20px; ">
  <h1>Registar nova Nota</h1><br>

  <div class ="form-group">
    <input type="text" 
        class="form-control is-invalid"  
        [ngClass]="{'is-invalid': registerNoteForm.get('tituloNota').errors 
                                  && registerNoteForm.get('tituloNota').touched}"
        placeholder="Nome da Nota"  
        autofocus="" 
        formControlName="tituloNota"> 
        <div class="invalid-feedback">Insira o nome da nota !!</div>
  </div>

  <div class ="form-group">
   
      <textarea class ="form-control is-invalid" type="text" name="notaContacto" rows="4" cols="50" [ngClass]="{'is-invalid': registerNoteForm.get('descNota').errors 
      && registerNoteForm.get('descNota').touched}" formControlName="descNota"> </textarea>
      <div class="invalid-feedback">Insira uma nota a guardar.</div>



  <button  class="btn btn-lg btn-primary btn-block" style="margin:20px; width: 120px;" type="submit" >Registar </button>
</div>
</form>