<form #redForm="ngForm" class="formreg" #registerForm="ngForm"  >
  
    <div class="card-body">
           
      <input type="text" class="card-title" id="tituloNota" style="height: 20px; width: 130px; box-shadow: 0 0 0 0; border: 0 none;"
           required [(ngModel)]="nota.tituloNota" name="tituloNota">
      <p></p>     
      
      Nota <textarea type="text" class="form-control" id="name" rows="6" cols="50" style="box-shadow: 0 0 0 0; border: 1;"

          required [(ngModel)]="nota.descNota" name="name"> </textarea>

</div>
</form>