<form #redForm="ngForm" class="formreg" #registerForm="ngForm" >
  <div class="shadow p-3 mb-5 bg-white rounded" style="margin-right: 5px;  margin-top: 5px; 
                        height: 350px; position: static; border: 3px solid rgb(232, 233, 231);">

    <div class="card-body"  style="display: inline;">
           
      <input type="text" style="border-color: white; border: white;" class="card-title" id="tituloNota"
           required [(ngModel)]="user.tituloNota" name="tituloNota">
      <p></p>     
      
      Nota <textarea type="text" class="form-control" id="name" rows="6" cols="50"
          required [(ngModel)]="user.descNota" name="name"> </textarea>

       <p class="card-text"> Nota: {{user.idNota}} </p>
    </div>

    <div style="display: inline; padding-right:  20px;" >    
      
      <button  class="btn-primary" style="width: 100px;"> Ver Nota {{user.idNota}}</button>

    </div>
</div>
</form>