<form #regcontactForm="ngForm" class="formreg" #registerForm="ngForm" (ngSubmit)="registerContact()">
  <p>Registar novo Funcionário</p>

<div class ="form-group">
  <input class="form-control" placeholder="Nome do contacto"  
    autofocus="" required [(ngModel)]="model.NomeContact" required name="NomeContact"> 
</div>
<input  class="form-control" placeholder="E-mail"  required name="emailContact"
             required [(ngModel)]="model.emailContact">


<input  class="form-control" placeholder="Número de contacto"  required name="numeroContact"
             required [(ngModel)]="model.numeroContact">

<input  class="form-control" placeholder="Data de id de quem iniciou sessão"  required name="idEmployee"
             required [(ngModel)]="model.idEmployee">  

<input  class="form-control" placeholder="Data de nascimento"  required name="dataAniversarioContact"
             required [(ngModel)]="model.dataAniversarioContact">                 

<button  class="btn btn-lg btn-primary btn-block" type="submit">Registar Contacto</button>
<button  class="btn btn-lg btn-primary btn-block" type="button" (click)="cancel()">Cancel</button>
</form>


