.formreg {
    width:100%;
    padding: 0px;
    
    margin-top: 5px;

    border: 2px solid gray;
    border-style: dashed;
}

input {
    margin-top: 20px;
    width:95%;
    margin-left:10px;
    background-color: #f5f5f5;
}

button {
    margin-top: 35px;
    margin: 5px ;
    border:1px solid gray;
    display:inline-block;
    width:180px;
    
}
h3 {
color: red;
font-weight:bold;
}