.formedit {
    align-items: center;
    width: 560px;
    padding: 20px;
    margin-top: 5px;
    border: 2px solid red;
    border-style: dashed;
    align:center;
}

input {
    margin-top: 10px;
    margin:5px;
    font-size: 13px;
   
}
btn{
    margin-top: 15px;
    padding: 5;
    border: 2px;
    widows: 20px;
}
p {
font-size: 22px;
color: orange;
font-weight:bold;
}

textarea {
    margin-top: 10px;
    margin:5px;
    background-color: #f5f5f5;
}

.form-inline .form-control {
    font-style: initial;
    width: 480px;
}
.form-inline .button {
    font-style: initial;
    width: 480px;
}