
<div class="col-sm-8">
  <div *ngIf="editContact.dirty" cclass="alert alert-dark" role="alert">
    <p><strong>Information: </strong>You have made changes, any unsaved changes will be lost!!</p>
  </div>
</div>

<form #editContact="ngForm" class="formedit" (ngSubmit)="updateContact()" >

 
<div class ="form-inline">
    <label for="nomeContact"  id ="nomeContact"> Nome Contacto:</label>
    <input class ="form-control" type="text" name="nomeContact" [(ngModel)]="contactx.nomeContact">
</div>

<div class ="form-inline">
  <label for="numeroContact"> Número: </label>
  <input class ="form-control" type="text" name="numeroContact" [(ngModel)]="contactx.numeroContact">
</div>

<div class ="form-inline">
  <label for="emailContact"> E-mail: </label>
  <input class ="form-control" type="text" name="emailContact" [(ngModel)]="contactx.emailContact">
</div>

<div class ="form-inline">
  <label for="dataAniversarioContact"> Aniversário </label>
  <input class ="form-control" type="date" name="dataAniversarioContact" [(ngModel)]="contactx.dataAniversarioContact">
</div>

<div class ="form-inline">
  <label for="moradaContacto"> Morada do Contacto: </label>
  <input class ="form-control" type="text" name="moradaContacto"  [(ngModel)]="contactx.moradaContacto">
</div>

<div class ="form-inline">
  <label for="notaContacto"> Notas do Contacto: </label>
  <textarea class ="form-control" type="text" name="notaContacto" rows="4" cols="50" [(ngModel)]="contactx.notaContacto"> </textarea>
</div>

<button [disabled]="!editContact.dirty" class="btn btn-success btn-block">Save Changes</button>

<button class="btn btn-success btn-block" (click)="delete(contactx.idContact)">Delete {{contactx.idContact}}</button> 
</form>
