
  <img id="comp-iqtizmsmimgimage" style="object-position:50% 50%;width:140px;height:120px;object-fit:cover" alt="" data-type="image" itemprop="image" src="https://static.wixstatic.com/media/62d52f_ec9d4749df7b4e0288f9b3ddf9342c32~mv2.png/v1/fill/w_171,h_136,al_c,q_85,usm_0.66_1.00_0.01/62d52f_ec9d4749df7b4e0288f9b3ddf9342c32~mv2.webp">
 
  <h1 class="h3 mb-3 font-weight-normal">Agenda</h1>

  
   
<form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">
  <input class="form-control" placeholder="Username"  
          autofocus="" required [(ngModel)]="model.username" name="username"> 

  <input type="password" class="form-control" placeholder="Password" name="password"
           required [(ngModel)]="model.password">

  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sessão</button>
</form>
