
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand">Agenda</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" 
          aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active "  routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contactos']"><b>Lista de Contactos</b><span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
    
  <form class="form-inline mt-2 mt-md-0" style="padding-right: 20px;" (ngSubmit)="getContactoSearch(model.find)">

    <input class="form-control mr-sm-2" type="text" placeholder="Search" 
     
    [(ngModel)]="model.find"
     id ="find" name="find">

    <button class="btn btn-outline-success my-2 my-sm-0"  type="register">Search</button>
  
  </form>

  <div *ngIf="loggedIn()">
    <a class="text-light">  Welcome {{authservice.decodedToken?.unique_name |   titlecase}}
      <a  (click)="logout()"> (Sair)</a> </a>
  </div>
  
</nav>     