.p{
    color:rgb(73, 252, 29);
}

.form-inline .form-control {
    padding: 20px;
    padding-right: -30px;
    padding-left: 30px;
    font-style: initial;
    width: 330px;
}
.form-inline .button {
    padding: 20px;
    padding-right: 30px;
    font-style: initial;
    width: 230px;
    background-color: lightcoral;
}